body{margin: 0; padding: 0; font-family: 'Karla', sans-serif;}
.navigation{
        background-color: #3670a2;
        height: 4vw;
       
        
}
ul{
    list-style-type: none;
    float: left;
}
#loginDiv{
    float:right;
    display: block;
    margin:0.8vw;
}
Li a{
    text-decoration: none;
    font-size: 1.2vw;
    color: white;
    padding-left: 1.3vw;

}
li{
    float: left;
}
#navLi{
    font-size: 1.5vw;
    color: white;
    margin-top: 0vw;
}
#name{
    color: #2222b5;
    font-size: 3vw;
    margin-top: 2vw;
    margin-left: 43vw;

}
/* Slideshow container */
.slideshow-container {
    max-width: 76vw;
    height: 33vw;
    position: relative;
    margin-top: 2vw;
    margin-left: 0vw;
    
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
    object-fit: cover;
  }
  .form-container{
      width: 70vw;
      height: 3vw;
      position: absolute;
      left: 20vw;
      top: 5vw;
  }
  .mySlides input{
    width: 55vw;
    height: 3vw;
    border: 2px solid #d6caca;
    border-radius: 7px;
    padding-left: 2vw;
    background-color: #f2f2f2;
  }
  .mySlides button{
    width: 5vw;
    height: 3.5vw;
    background-color: #3670a2;
    color: white;
    margin-left: -1.2999999999999998vw;
 border-radius: 7px;
  }
  .mySlides img{
    opacity: 5;
    z-index: -1;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    margin-top: -;
    height: 1vw;
    width: 1vw;
    margin: 43px 10px;
    background-color: rgb(128, 122, 122);
    border-radius: 100%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #292626;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  .category{
      font-size: 2vw;
      color:#2222b5;
      margin-top: 2vw;
      margin-left: 42vw;
  }
  .cards-outer{
    margin-top: 2vw;
    margin-bottom: 2vw;
    margin-left: 3vw;
    margin-right: 12vw;
  }
  .category-cards{
      display: flex;
      margin:2vw 7vw 1vw 6vw;

  }
  .card-border{
    border: 2px solid rgb(214 204 204);
    border-radius: 22px;
    width: 92vw;
    height: 33vw;
    box-shadow: 2px 2px 2px 2px #b0acac;
  }
  .card{
    border: 2px solid black;
    border-radius: 4px;
    height: 11vw;
    width: 18vw;
    background-color: #354db9;
    margin-top: 1vw;
    margin-left: 1vw;
    margin-right: 1vw;
  }
  .card h4{
      font-size: 1.8vw;
      color:white;
      margin-top: 2vw;
      margin-left: 2vw;
  }
  .card a{
    text-decoration: none;
    color: white;
    cursor: pointer;
  }
  .card a:visited{
    color: white;
  }
  .header{
      height: 10vw;
      width: 105.6vw;
      border: 2px solid rgb(17, 72, 134) ;
      margin-top: 10vw;
      margin-left: -10vw;
      margin-bottom: -2vw;
      border-radius: 2px;
      background-color: rgb(17, 72, 134);
  }
  .header span{
      color: white;
      font-size: 1.2vw;
     margin-bottom: 3vw;
     margin-left: 2vw;
  }
  .header a{
    color: white;
    text-decoration: none;
    font-size: 1.5vw;
    margin-top: 0vw;
    margin-left: 1vw;
  
}
.icon{
  margin-top: -1vw;
  margin-left: 88vw;

}
.term{
  margin-top: 7vw;
  margin-left: 6vw;
  font-size: 1vw;
}
